@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.header {
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

.title-header {
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--ds-color-black-900);
  font-family: var(--font-cinzel);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.search-input {
  width: 100%;
  height: 42px;
  border-radius: 9999px;
  background: var(--ds-color-white-200);
  padding-left: 44px;
  padding-right: 16px;
  font-size: 14px;
  outline: none;
  border: 1px solid transparent;
  transition: all 300ms;
  font-family: var(--font-inter) !important;
  letter-spacing: 0.5px;
}

.search-input:focus {
  border-color: var(--ds-color-white-400);
  background: var(--ds-color-white-50);
}

.btn-ico-header {
  cursor: pointer;
  transition: 0.1s;
  position: relative;
}

.btn-ico-header:hover {
  opacity: 0.8;
}

.btn-ico-header img {
  display: inline;
}

.basket-btn {
  position: relative;
}

.basket-count {
  position: absolute;
  top: -6px;
  right: -8px;

  width: 18px;
  height: 18px;

  border-radius: 999px;

  background: var(--ds-color-pink-primary);
  color: var(--ds-color-white-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-family: var(--font-cinzel);
}

.dropdown {
  border-radius: 6px;
  background-color: var(--ds-color-white-50);
  border: 1px solid var(--ds-color-white-300);
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

.dropdown-item {
  height: 42px;
  width: 100%;
  padding: 12px 14px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  font-family: var(--font-inter) !important;
  letter-spacing: 0.5px;
}

.dropdown-item:hover {
  background: var(--ds-color-white-300);
}
