.header {
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
  font-family: var(--font-inter);
}

.title-header {
  letter-spacing: 2px;
  cursor: pointer;
  color: var(--ds-color-black-900);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.search-input {
  width: 100%;
  height: 42px;
  border-radius: 9999px;
  background: var(--ds-color-white-200);
  padding-left: 44px;
  padding-right: 16px;
  font-size: 14px;
  outline: none;
  border: 1px solid transparent;
  transition: all 300ms;
}

.search-input:focus {
  border-color: var(--ds-color-white-400);
  background: var(--ds-color-white-50);
}

.btn-ico-header {
  cursor: pointer;
  transition: 0.1s;
}

.btn-ico-header:hover {
  opacity: 0.8;
}

.btn-ico-header img {
  display: inline;
}

.dropdown {
  border-radius: 6px;
  background-color: var(--ds-color-white-50);
  border: 1px solid var(--ds-color-white-300);
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
}

.dropdown-item {
  height: 42px;
  width: 100%;
  padding: 12px 14px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.dropdown-item:hover {
  background: var(--ds-color-white-300);
}
