.carousel-track {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  animation: carousel 20s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.slider-item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  white-space: nowrap;
  font-size: 12px;
  color: var(--ds-color-white-100);
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}